.form-container {
    display: flex;
    justify-content: center;
    min-height: 70vh; /* cambiar después */
}

.home-title {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
}

.dropzone-container {
    max-width: 700px;
    margin: auto;
}